* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 html,body {
    height: 100%;
    width: 100%;
 }
 nav{
     z-index: 200;
     height: 50px;
     background-color: transparent;
     width: 100%;
     display: flex;
     align-items: center;
     align-content: center;
     position: fixed;
 }
 nav span{
     margin-left:10px;
     margin-right:10px;
     color:grey
 }
 span:hover{
     color:white;
     cursor: pointer;
 }
 #photo{
     height:60%;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     background:url("https://images.unsplash.com/photo-1701542183610-60708f7db8f7?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw4Mnx8fGVufDB8fHx8fA%3D%3D");
     background-position: center;
     background-size: cover;
 }
 #log{
     height: 40px;
     width:300px;
     color: white;
     display: grid;
     place-items: center;
     letter-spacing: 5px;
     background-color: black;
 }
 #S2{
     padding:20px 200px;
     height:300px;
 }
 #S2 h3{
     text-align: center;
     margin-bottom:20px;
 }
 #S2 h4{
     text-align: center;
     margin-bottom: 20px;
 }
 #S3{
     height: 500px;
     display: flex;
 }
 #left{
     padding-top: 20px;
     padding-left: 200px;
     position: relative;
     height:100%;
     width: 50%;
 }
 #left h4{
     margin-bottom: 20px;
 }
 #right{
     position: relative;
     height: 100%;
     width: 50%;
     padding-top: 100px;
     line-height: 25px;
     padding-right: 200px;
 }
 #myphoto{
     height: 400px;
     width:400px;
 }
 #S4{
     height: 450px;
     padding: 60px 200px;
 }
 #S4 p{
     margin-top: 15px;
     letter-spacing: 3px;
     margin-bottom: 15px;
 }
 .bar{
     position: relative;
     height: 50px;
     width:1000px;
     color:white;
     background-color: rgb(126, 123, 121);
 }
 #bar1 p{
     left:50%;
     position: absolute;
 }
 #bar2 p{
     left:50%;
     position: absolute;
 }
 #bar3 p{
     left:50%;
     position: absolute;
 }
 #bar1{
     height: 100%;
     width: 90%;
     background-color: black;
 }
 #bar2{
     height: 100%;
     width: 85%;
     background-color: black;
 }
 #bar3{
     height: 100%;
     width: 75%;
     background-color: black;
 }
 #S5{
     height: 200px;
     width: 100%;
     display: flex;
     justify-content: center;
     background-color: rgb(45, 45, 59);
 }
 #S5 div{
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 2rem;
     margin: 0 40px;
     color:aliceblue;
     height: 200px;
     width:200px;
 }
 #S6{
     font-size: 3rem;
     display: flex;
     align-items: center;
     justify-content: center;
     color:aliceblue;
     letter-spacing: 2px;
     height: 400px;
     background:url("https://images.unsplash.com/photo-1701600713610-0f724c65168d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1fHx8ZW58MHx8fHx8");
     background-position: center;
     background-size: cover;
 }
 #S7{
     font-size: 1.5rem;
     height: 200px;
     width: 100%;
     padding: 20px 200px;
     text-align: center;
 }
 #S7 h4{
     margin: 20px 0;
 }
 #S7 p{
     margin: 20px 0;
 }
 #S8{
     height: 450px;
     width: 100%;
     padding: 20px 200px;
 }
 #S8 img{
     margin:5px;
     height:200px;
     width: 250px;
 }
 button{
     margin:40px 700px;
     padding:2px;
     border: none;
     white-space: nowrap;
     height: 60px;
     width: 100px;
 }
 #S9{
     background-color: black;
     height: 200px;
     width:100%;
     text-align: center;
 }